<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input_generator</title>
    <link rel="stylesheet" href="../css/input_generator_style.css">
</head>
<body>
    <a href="../../index.html" style="text-decoration: none;">
        <button id="ret">返回</button>
    </a>
    <p></p>
    <div id="input_generator_editor">
    </div>
    <p></p>
    <button id="gen">写入代码</button>
    <script src="../js/input_generator_editor.js" type="module"></script>
</body>
</html>